body {
  line-height: 1.5;
  background: url(../images/header.jpg);
  color: white;
  font-family: "microsoft yahei";
  /* 以下代码为全屏图片的实现方式，请勿改动 */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 50%;
  background: rgba(0,0,0,0.5);
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
}

a {
	color: #00F9A5;
	text-decoration: none;
}

h1{
	font-size: 50px;
}

h2 {
	margin-top: -30px;
	font-size: 1.4em;
}